.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 60%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.img-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.imageWrapper {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.imageWrapper img {
    width: 90%;
    max-width: 900px;
    min-width: 380px;
}

.imageWrapper span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 50px;
    color: white;
    cursor: pointer;
}