@import "fonts.css";
@import "keyframes.css";

/*--------------------------------------
                   INFO

COLOR PALLET 1
1. Cream - #f7ecda
2. Camel - #af9060
3. Navy - #1e3041
4. Olive - #525d3c
5. Charcoal - #524e4b
6. Forest Green - #374f37
7. Burgundy - #623636
8. Taupe - #8e7863

COLOR PALLET 2
1. Mustard - #FFDC4F
2. Fern Green - #52834F
3. Jet - #323232
4. White - #FFFFFF
--------------------------------------*/
:root {
    --main1-color-cream: #f7ecda;
    --main1-color-camel: #af9060;
    --main1-color-navy: #1e3041;
    --main1-color-olive: #525d3c;
    --main1-color-charcoal: #524e4b;
    --main1-color-forest-green: #374f37;
    --main1-color-burgundy: #623636;
    --main1-color-taupe: #8e7863;

    --main2-color-mustard: #FFDC4F;
    --main2-color-fern-green: #52834F;
    --main2-color-jet: #323232;
    --main2-color-white: #FFFFFF;

    --items-per-page: 4;
}

nav {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.76) 0%, rgba(255, 255, 255, 0) 95%);
}

.navbar a {
    font-size: 1.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s ease-in-out;
    color: white;
    text-shadow: 0 0 5px black;
}

.navbar a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    color: white;
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}

.tools-used img {
    width: 32px;
    height: 32px;
    margin-bottom: 0.5rem;
}

.card-img-top {
    transition: 0.3s ease-in-out;
    transform-origin: center center;
    z-index: 0;
    border: 0px solid black;
    border-radius: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0);
}

.card-body {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.card:hover {
    .card-img-top {
        transform: scale(2);
        z-index: 1;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 10%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    }

    .card-body {
        opacity: 0.2;
    }
}

.big-nav-link {
    position: relative;
    overflow: hidden;
}

.big-nav-link::before,
.big-nav-link::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, rgb(255, 255, 255, 0) 10%, rgb(255, 255, 255, 0) 25%, rgb(255, 255, 255, 0) 100%);
    transition: transform 0.3s ease-in-out;
    z-index: 0;
}

.big-nav-link::after {
    background: linear-gradient(135deg,rgba(255, 229, 0, 0.76) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(-50%);
}

.big-nav-link:hover::after {
    transform: translateX(0);
}

.big-nav-link h2 {
    position: relative;
    z-index: 1;
    color: black;
    font-weight: bold;
}

.jump {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.big-nav-link:hover .jump {
    animation: jumpSpin 0.6s ease-in-out;
}

@keyframes jumpSpin {
    0% {
        transform: translateY(0) rotate(0);
    }
    30% {
        transform: translateY(-20px) rotate(20deg);
    }
    60% {
        transform: translateY(5px) rotate(-10deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
