<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>R&D - Meet the races</title>
    <style>
        #race-name {
            color: #d3a862;
        }

        #race-description {
            color: #d3a862;
        }

        #race-faction-name {
            color: #d3a862;
        }

        .row img {
            aspect-ratio: 1/1;
            width: 50%;
        }

        .slider{
            position: relative;
            width: 100%;
            margin: auto;
        }

        .slider img{
            width: 100%;
            display: none;
        }

        img.displaySlide {
            display: block;
        }
    </style>
</head>
<body style="background-image: url('https://i.ibb.co/6g0crpd/background.png')">
<nav th:replace="~{templates::header}"></nav>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1 style="font-family: 'Cormorant Unicase', Serif; font-weight: 700; font-style: normal" class="text-center" id="race-name"></h1>
            <div class="slider">
                <div class="slides">
                    <img id="automaton" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/automaton_portrait.png" alt="" class="slide">
                    <img id="avian" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/avian_portrait.png" alt="" class="slide">
                    <img id="dwarf" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/dwarf_portrait.png" alt="" class="slide">
                    <img id="elf" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/elf_portrait.png" alt="" class="slide">
                    <img id="ethereal" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/ethereal_portrait.png" alt="" class="slide">
                    <img id="gnome" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/gnome_portrait.png" alt="" class="slide">
                    <img id="human" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/human_portrait.png" alt="" class="slide">
                    <img id="orc" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/orc_portrait.png" alt="" class="slide">
                    <img id="smogborn" src="/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/smogborn_portrait.png" alt="" class="slide">
                </div>
                <div class="container d-flex justify-content-around">
                    <button style="color: #d3a862; font-size: 2rem; box-shadow: none" class="previous btn btn-lg" onclick="previousSlide()">&#10094</button>
                    <button style="color: #d3a862; font-size: 2rem; box-shadow: none" class="next btn btn-lg" onclick="nextSlide()">&#10095</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
            <div style="height: 60vh; max-height: 650px; min-height: 600px; aspect-ratio: 1/1; background-color: #231a1a;" class="container d-flex flex-column align-items-center justify-content-between p-2 border">
                <div class="container d-flex flex-column align-items-center justify-content-center">
                    <img class="rounded-circle border" id="race-faction" src="" alt="">
                    <h4 id="race-faction-name"></h4>
                </div>
                <p id="race-description"></p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{templates::footer}"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    const slides = document.querySelectorAll('.slides img');
    let slideIndex = 0;
    let intervalId = null;
    const intervalTimer = 30000;
    const raceName = document.querySelector('#race-name');
    const raceDescription = document.querySelector('#race-description');
    const raceFaction = document.querySelector('#race-faction');
    const raceFactionName = document.querySelector('#race-faction-name');

    initSlider();

    function initSlider() {
        if (slides.length > 0) {
            slides[slideIndex].classList.add('displaySlide');
            intervalId = setInterval(nextSlide, intervalTimer);
        }
        textReplacer();
    }

    function showSlide(index) {

        if (index >= slides.length) {
            slideIndex = 0;
        } else if (index < 0) {
            slideIndex = slides.length - 1;
        }

        slides.forEach((slide) => {
            slide.classList.remove('displaySlide');
        })
        slides[slideIndex].classList.add('displaySlide');
    }

    function previousSlide() {
        clearInterval(intervalId);
        slideIndex--;
        showSlide(slideIndex);
        textReplacer();
    }

    function nextSlide() {
        clearInterval(intervalId);
        slideIndex++;
        showSlide(slideIndex);
        textReplacer();
    }

    function textReplacer() {
        switch (slideIndex) {
            case 0:
                raceName.textContent = "Automaton";
                raceDescription.textContent = "Once bound to servitude in the great factories of Grafset, the Automatons—sentient constructs of brass and steel—have long since broken free from their creators' control. Now, these self-sufficient beings seek purpose beyond their original programming, forging their own destiny in a world that still sees them as mere machines. Though some embrace their past as loyal defenders of civilization, others resent their makers and carve out a future built on autonomy and strength. Whatever path they choose, the Automatons stand as unwavering symbols of invention, resilience, and the boundless potential of technology.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/blessed-faction-logo.png"
                raceFactionName.textContent = "BLESSED";
                break;
            case 1:
                raceName.textContent = "Avian";
                raceDescription.textContent = "Hailing from the towering spires of Conterel, the Avian people are masters of the skies, their sharp talons and keen eyes unmatched in aerial combat. Natural-born navigators, they command the winds with an almost supernatural instinct, making them invaluable pilots and scouts for those who dare to sail the tempestuous skies. Though many Avians find a home among airship fleets and skyward citadels, their true allegiance remains to their own kind, ever watchful of those who seek to ground them. To threaten an Avian’s freedom is to invite the wrath of a tempest unleashed.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/unsung-faction-logo.png"
                raceFactionName.textContent = "UNSUNG";
                break;
            case 2:
                raceName.textContent = "Dwarf";
                raceDescription.textContent = "Deep within the smoking depths of Rimrior’s forges, the Dwarves of Bul’Dor hammer steel and shape the world with their mastery of metal and steam. These steadfast engineers and metallurgists form the backbone of the industrial revolution, their underground cities humming with the ceaseless clatter of great machines. Proud and unyielding, Dwarves live by the sweat of their brow and the strength of their forge-wrought creations. They fight with unwavering determination, their war machines and steam-powered armor making them a force to be reckoned with. To stand against the Dwarves is to stand against progress itself.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/blessed-faction-logo.png"
                raceFactionName.textContent = "BLESSED";
                break;
            case 3:
                raceName.textContent = "Elf";
                raceDescription.textContent = "The Elves of Yarsay have abandoned the whispering woods of their ancestors, choosing instead to shape the world with the power of invention. In the grand metropolis of Ayotalyra, arcane energies intertwine with machinery, forging a society where elegance and industry walk hand in hand. These Elves are both artisans and visionaries, seeking to perfect the union of magic and technology. Though their advancements are awe-inspiring, not all view their work with favor—many among their kin believe they have forsaken their heritage. Yet, the Elves of Yarsay move ever forward, determined to shape a future where the old ways bow before progress.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/elf-faction-logo.png"
                raceFactionName.textContent = "NEUTRAL";
                break;
            case 4:
                raceName.textContent = "Ethereal";
                raceDescription.textContent = "Drifting between the physical and the unknown, the Ethereals of Ashonethia are beings of pure energy, wrapped in veils of shimmering cloth and shifting light. Born from the strange and unpredictable forces of ether-based energy, they are scholars, mystics, and wanderers, forever seeking to understand the unseen currents that weave reality together. To many, they appear ghostly and insubstantial, their motives as enigmatic as the storms of Exmere from which they hail. While some fear their arcane knowledge, others recognize their wisdom as a guiding light in a world consumed by steam and steel.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/unsung-faction-logo.png"
                raceFactionName.textContent = "UNSUNG";
                break;
            case 5:
                raceName.textContent = "Gnome";
                raceDescription.textContent = "In the bustling streets of Sloburg, the Gnomes of Grafset are the architects of chaos and creation, their boundless curiosity giving birth to the most ingenious—and dangerous—contraptions the world has ever seen. These small but formidable inventors thrive on experimentation, their restless minds forever conjuring new machines, gadgets, and, on occasion, disasters. Though their explosive tendencies make them unpredictable allies, none can deny the impact of Gnomish ingenuity. Whether crafting intricate automatons or weaponizing the impossible, Gnomes stand as pioneers of the industrial age, proving that true genius often walks hand in hand with madness.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/blessed-faction-logo.png"
                raceFactionName.textContent = "BLESSED";
                break;
            case 6:
                raceName.textContent = "Human";
                raceDescription.textContent = "The industrious people of Sharenth have built their legacy upon innovation and ambition, shaping the great cities of Portsden into the beating heart of the modern age. With steam and steel, they push the boundaries of possibility, constructing vast factories, sprawling metropolises, and powerful war machines. Though they lack the mystical heritage of other races, their strength lies in adaptability and determination, allowing them to stand at the forefront of technological advancement. Whether as noble leaders or ruthless industrialists, the Humans of Portsden will stop at nothing to carve their mark upon history.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/blessed-faction-logo.png"
                raceFactionName.textContent = "BLESSED";
                break;
            case 7:
                raceName.textContent = "Orc";
                raceDescription.textContent = "Scarred by war and reforged in iron, the Orcs of Savadon are a testament to survival through sheer might. Once proud warriors, they have adapted to the age of steam by augmenting their bodies with brutal mechanical enhancements—steam-powered limbs, armored plating, and weapons fused to flesh. These war-hardened titans carve out their existence in the smog-choked city of Tizrezar, where only the strongest endure. Bound by no law but their own, they march forward, driven by an unrelenting will to dominate a world that once sought to break them.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/unsung-faction-logo.png"
                raceFactionName.textContent = "UNSUNG";
                break;
            case 8:
                raceName.textContent = "Smogborn";
                raceDescription.textContent = "Born from the poisoned breath of Savadon’s industry, the Smogborn are a twisted evolution of life itself—creatures molded by the toxic smog and alchemical runoff that choke the streets of Tizrezar. With skin hardened against pollution and lungs adapted to breathe the filth others cannot, they have turned the wastelands into their dominion. Considered outcasts and abominations by some, they embrace their mutation as a gift, thriving where others wither. Hardened by a world that abandoned them, the Smogborn fight not for glory or conquest, but for the right to exist in the ashes of progress.";
                raceFaction.src = "/galin-yan.github.io/projects/demo/reason-and-domination/race-imgs/unsung-faction-logo.png"
                raceFactionName.textContent = "UNSUNG";
                break;
        }
    }
</script>
</body>
</html>