<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title th:text="'R&D - ' + ${title}"></title>
    <style>
        small, p {
            color: #826053;
        }
        h1, h3  {
            color: #d3a862;
        }
    </style>
</head>
<body style="background-image: url('https://i.ibb.co/6g0crpd/background.png')">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://i.ibb.co/Yd401Fd/logo-textonly.png" style="width: 140px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/galin-yan.github.io/projects/demo/reason-and-domination/news.html">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/galin-yan.github.io/projects/demo/reason-and-domination/forum.html">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/galin-yan.github.io/projects/demo/reason-and-domination/guides.html">Guides</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Database
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a style="text-decoration: line-through" class="dropdown-item" href="#">Player Lookup</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/galin-yan.github.io/projects/demo/reason-and-domination/raceView.html">Races</a>
                    <a class="dropdown-item" href="/galin-yan.github.io/projects/demo/reason-and-domination/classView.html">Classes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/galin-yan.github.io/projects/demo/reason-and-domination/items.html">Items</a>
                    <a class="dropdown-item" href="/galin-yan.github.io/projects/demo/reason-and-domination/dungeons.html">Dungeons</a>
                    <a class="dropdown-item" href="/galin-yan.github.io/projects/demo/reason-and-domination/timers.html">Timers</a>
                    <a style="text-decoration: line-through" class="dropdown-item" href="#">DaR</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://galin-yan.com/contacts">About Us & Contact</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/galin-yan.github.io/projects/demo/reason-and-domination/supporterPage.html">Support Us</a>
            </li>
        </ul>
        <div>
            <a class="nav-link text-dark" href="/galin-yan.github.io/projects/demo/reason-and-domination/profile.html">Profile</a>
        </div>
    </div>
</nav>

<div id="dungeon-viewer" class="container-fluid d-flex flex-row">
    <div class="container-fluid d-flex flex-row">
        <div class="container col-12 col-md-6 mt-3" id="dungeon-info">
            <div class="container d-flex flex-row align-items-center p-0">
                <img id="dungeon-image" src="https://www.hiveworkshop.com/data/ratory-images/105/105613-44eedbec0ef220c6d59add63172f761a_tn.jpg" alt="">
                <h1 id="dungeon-name">Coalburn Caverns</h1>
            </div>
            <small id="dungeon-size"></small>
            <p id="dungeon-description">A smoky, treacherous mine overtaken by fire elementals and deranged miners obsessed with their blackened treasures.</p>
            <br>
            <img class="img-fluid p-0 m-2 border" id="dungeon-map" src="/galin-yan.github.io/projects/demo/reason-and-domination/dungeons/imgs/dungeon-coalburn-caverns.png" alt="">
        </div>
        <div class="container d-flex flex-column col-12 col-md-5 mt-3">
            <h3>Quick Facts:</h3>
            <div class="container d-flex flex-column border">
                <p id="dungeon-level">Level: 34</p>
                <p id="dungeon-territory">Territory: PLACEHOLDER</p>
                <p id="dungeon-instance-type">Instance Type: DUNGEON</p>
                <p id="dungeon-players">Number of Players: 10</p>
                <p id="dungeon-zone-id">Zone ID: 5</p>
                <p>Final Boss: <a style="color: #d3a862" href="#"><span><img style="width: 16px" th:src="@{/imgs/skull.png}" alt=""></span><span id="dungeon-final-boss">Inferna, The Smoldering Warden</span></a></p>

            </div>
        </div>
    </div>
</div>


<footer th:replace="~{templates::footer}"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script th:src="@{/js/dungeonViewer.js}"></script>
</body>
</html>